.contactDesc {
    margin-top: 20px;
    margin-left: 5rem;
    width: 40%;
    float: left;
    background-color: #191919;
}

.hThree {
    font-size: 4rem;
    font-weight: 900;
    height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.contactPara {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.contactPara b {
    color: #f61b10;
}

.contactInputContainer {
    display: flex;
}

.contactInputContainer form {
    display: flex;
    flex-direction: column;
}

.contactInput {
    width: 450px;
    height: 35px;
    background-color: #191919;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    border: 2px solid grey;
    margin-bottom: 15px;
}

.contactBigInput {
    width: 450px;
    height: 120px;
    background-color: #191919;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    border: 2px solid grey;
    margin-bottom: 15px;
}

.contactButton {
    width: 180px;
    height: 35px;
    margin-left: 150px;
    font-size: 20px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #f61b10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contactRightContainer {
    float: left;
    margin-top: 20px;
    margin-left: 5rem;
    width: 40%;
}

.rightImg {
    width: 100%;
    height: 100%;
}

.contactFooter {
    padding-top: 5rem;
    width: 100%;
    background-color: #191919;
    display: flex;
}

.contactFooter h1 {
    color: whitesmoke;
    /* margin-left: 5rem; */
}

.footerIcon {
    margin-left: 32rem;
    width: 40px;
    height: 40px;
}

.footerLIcon {
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

.footerIIcon {
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

.footerCIcon {
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

.footerP {
    margin-top: 30px;
    margin-left: 25rem;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .30s all ease;
}

.footerC {
    background-color: #191919;
}


@media only screen and (max-width : 1000px) {
    .contactFooter {
        padding-left: 4rem;
        width: 50%;
    }

    .footerIcon {
        margin-left: 4rem;
    }

    .footerP {
        margin-left: 2rem;
    }
}

@media only screen and (max-width : 389px) {
    .contactFooter {
        padding-left: 0px;
        width: 50%;
    }

}

@media only screen and (max-width : 530px) {
    .contactInput {
        width: 20rem;
    }
    .contactBigInput{
        width: 20rem;
    }
    .contactButton{
        margin-left: 4rem;
    }
    .contactRightContainer{
        width: 100%;
    }
    .rightImg{
        width: 75%;
        height: 75%;
    }

}