.home_bg {
    background-size: cover;
    background-position: 50%;
    padding-bottom: 100px;
    padding-top: 0%;
    background-repeat: no-repeat;
    background-color: #010101;
    width: 60%;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    transition: .4s all ease;
}

.header.active {
    position: fixed;
    z-index: 1000;
    padding: 0px 30px;
    width: 50%;
    background-color: #191919;
}

.logo {
    margin-top: 12px;
}

.unOrder {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 60px;
    /* background-color: green; */
}

.orderList {
    margin-right: 40px;
    color: wheat;
    font-size: 20px;
    font-weight: 700;
}

.navigation a {
    text-decoration: none;
}


.bi{
    width: 35px;
    height: 35px;
    color: white;
    /* margin-left: 40rem; */
}

.toggle {
    display: flex;
    z-index: 1000;
    width: 100%;
}

.SidebarUnOrder {
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    margin-top: 130px;
    right: 0%;
    justify-content: center;
    width: 350px;
    top: 0%;
    flex-direction: column;
}

.sidebarNavigation {
    width: 100%;
    background-repeat: no-repeat;
}

.sidebarNavigation a {
    text-decoration: none;
}

.SidebarOrderList {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    color: wheat;
}

.sidebarNavigation ul {
    list-style: none;
}

.homeContainer {
    padding-top: 200px;
    margin-left: 35px;
}

.hi {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(105, 113, 151, 0.911) !important;
}

.desc1 {
    font-family: Montserrat, sans-serif;
    line-height: 30px;
    letter-spacing: 3px;
    color: whitesmoke;
    font-size: 45px;
    font-weight: 900;
}


.desc2 {
    font-family: Montserrat, sans-serif;
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 45px;
    color: rgb(241, 59, 89);
}

@media only screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .navigation {
        display: none;
    }


    h2.white.pz__10 {
        font-size: 50px !important;
    }
    .toggle{
        display: flex;
        justify-content: flex-end;
    }

    .bi {
        width: 30px;
        height: 30px;
        /* margin-left: 15rem;
        margin-top: 1rem; */
    }
}

@media only screen and (max-width: 425px) {
    .desc1 {
        font-size: 32px;
    }

    .desc2 {
        font-size: 40px;
    }
    .sidebarNavigation{
        padding-left: 5rem;
    }
    .SidebarUnOrder{
        margin-top: 4rem;
        width: 80%;
    }
    .SidebarOrderList{
        margin-bottom: 27px;
    }

}