body {
  background-color: black;
  overflow-x: hidden;
}


@media only screen and (max-width: 425px) {
  .footerP {
    font-size: 13px !important;
  }

  .footerC {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1000px) {
  .App{
    overflow-x: hidden;
  }
}

